/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap'); */

@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  /* font-family: 'Space Grotesk', sans-serif; */
  font-family: 'DM Sans', sans-serif;
  /* font-family: 'Urbanist', sans-serif; */
}

@theme {
  --color-deep-navy: oklch(23.31% 0.045 254.72);
  --color-slate-blue: oklch(35.41% 0.053 257.8);
  --color-warm-beige: oklch(95% 0.005 45);
  --color-soft-cream: oklch(79.85% 0.047 50.53);
  --color-rustic-tan: oklch(63.52% 0.122 55.92);
}

@layer utilities {
  .bg-gradient {
    background-image: linear-gradient(to bottom, #00ffff, #ff69b4);
  }
}

@layer base {
  html {
    @apply transition-colors duration-300;
  }
  body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
}
